# Web Framework & Server
fastapi
uvicorn[standard]
python-dotenv

# AI & LLM
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers

# Database & Tools
qdrant-client
httpx
pydantic
pydantic-settings

# Agentic (si usas grafos)
langgraph
tavily-python