# --- Framework & Server ---
fastapi
uvicorn[standard]
python-dotenv
python-multipart

# --- Seguridad & Auth ---
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# --- AI & LLM (Groq + LangChain) ---
langchain
langchain-community
langchain-groq
langchain-ollama
langchain-huggingface
sentence-transformers
langgraph
tavily-python

# --- Bases de Datos & HTTP ---
qdrant-client
httpx
pydantic
pydantic-settings